/* CSS untuk tampilan yang lebih menarik pada shop.html */

/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #776EA7, rgba(252,169,169,1));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



<style>
        /* Add your custom CSS styles here */
        .dashboard-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .dashboard-container h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .dashboard-container p {
            color: #666;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .dashboard-container h2 {
            color: #333;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .dashboard-container p.product-info {
            color: #666;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .dashboard-container img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .dashboard-container form {
            margin-bottom: 20px;
        }

        .dashboard-container label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-size: 16px;
        }

        .dashboard-container input[type="number"] {
            width: 50px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
        }

        .dashboard-container button[type="submit"] {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
        }

        .dashboard-footer {
            text-align: center;
            margin-top: 50px;
            padding: 10px;
            background-color: #f2f2f2;
            border-top: 1px solid #ccc;
        }

        .dashboard-footer p {
            color: #666;
            font-size: 14px;
        }
    </style>

/* Gaya untuk footer */
footer {
    background-color: #333;
    color: #fff;
    padding: -10px;
    text-align: center;
    position: fixed;
    bottom: -50px; /* Adjust the value to move the footer down */
    left: 0;
    width: 100%;
}
